<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人信息</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		body {
			background: #f0f1f2;
		}
		hr {
			border: 1px solid white;
			width: 80%;
		}
		button#change {
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
	<h2 class="text-center">基本信息</h2>
	<form class="form-horizontal" id="addform">
	    <div class="form-group row">
	        <label for="name" class="control-label col-xs-3 text-right col-xs-offset-1">姓名</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="姓名" >
	        </div>
	    </div>
	    <div class="form-group row">
	        <label for="sex" class="control-label col-xs-3 text-right col-xs-offset-1">性别</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="性别">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label class="control-label col-xs-3 text-right col-xs-offset-1">民族</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="民族">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label for="student_department" class="control-label col-xs-3 text-right col-xs-offset-1">院系</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="院系">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label for="student_grade" class="control-label col-xs-3 text-right col-xs-offset-1">班级</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="班级">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label for="student_grade" class="control-label col-xs-3 text-right col-xs-offset-1">政治面貌</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="政治面貌">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label for="duty" class="control-label col-xs-3 text-right col-xs-offset-1">担任职务</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="担任职务">
	        </div>
	    </div>

	    <hr />
	    <div class="form-group row">
	        <label for="duty" class="control-label col-xs-3 text-right col-xs-offset-1">住址</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="楼号#宿舍号#床位。如32#213#4">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label for="duty" class="control-label col-xs-3 text-right col-xs-offset-1">本人联系方式</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="本人联系方式">
	        </div>
	    </div>
	    <div class="form-group row">
	        <label for="duty" class="control-label col-xs-3 text-right col-xs-offset-1">亲属联系方式</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="亲属联系方式">
	        </div>
	    </div>

	    <hr />
        <div class="form-group row">
	        <label for="duty" class="control-label col-xs-3 text-right col-xs-offset-1">一卡通卡号</label>
	        <div class="col-xs-7">
	            <input type="text" name="student_id" class="form-control" placeholder="一卡通卡号">
	        </div>
	    </div>
	</form>

	<button type='button' class="btn btn-primary col-xs-10 col-xs-offset-1" id="change">修改</button>

	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">
		$("#change").click(function() {
			
		});
	</script>
</body>
</html>