<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>素质记录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		body {
			background: #f0f1f2;
		}

		.panel-body {
			padding: 0px;
		}
		.sub-panel {
			border-bottom: 1px solid #ccc;
			display: flex;
		}
		.sub-panel .sub-panel-title {
			padding: 1px;
			width: 40px;
			writing-mode: vertical-rl;
			text-align: center;
		}
		.sub-panel .sub-panel-content {
			border-left: 1px solid #ccc;
			min-height: 80px;
			padding: 5px;
		}
	</style>
</head>
<body>
	<h2 class="text-center">素质记录</h2>
	<div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第八学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>

        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第七学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第六学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>

        </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第五学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>

        </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第四学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>

        </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第三学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>

        </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第二学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>

        </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title text-center">第一学期</h3>
        </div>
        <div class="panel-body" id="praise">
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 拓 展</div>
        		<div class="sub-panel-content">
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        			<h5>abc</h5>
        		</div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">违 规 违 纪</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">素 质 评 定</div>
        		<div class="sub-panel-content"></div>
        	</div>
        	<div class="sub-panel row">
        		<div class="sub-panel-title">德 育 成 绩</div>
        		<div class="sub-panel-content"></div>
        	</div>

        </div>
        </div>
    </div>
    

	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">
		$("div.panel-body").hide();
		$("div.panel-body").eq(0).show();
		$("div.panel-heading").click(function(e) {
            $(this).next().toggle();
        })
	</script>
</body>
</html>